@import "tailwindcss";
@layer {
  .signup-wrapper {
    @apply w-full bg-gray-100 mt-10;
  }
  .signup-wrapper form {
    @apply space-y-5 w-full max-w-130 mx-auto bg-white px-20 py-15 rounded-md shadow-sm;
  }
  .signup-wrapper form > div:nth-child(1) input,
  .signup-wrapper form > div:nth-child(2) input {
    @apply w-full border border-gray-300 text-gray-600 rounded-full mt-1 px-5 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400;
  }
  .signup-wrapper form button {
    @apply w-full bg-blue-600 text-white font-semibold py-4 rounded-full hover:bg-blue-700 transition-colors disabled:bg-blue-300 disabled:cursor-not-allowed cursor-pointer;
  }
}
